APP_ENV=development
APP_PORT=8080
DATABASE_PATH=./data/ecommerce.db
FRONTEND_ORIGIN=http://localhost:3000
INVOICE_DIR=./storage/invoices
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=false
